<section class="main">
    <article>
        <table>
            <thead>
                <tr>
                    <td></td>
                    <td class="th-td-r th-td">Jogador 1</td>
                    <td class="th th-td">Jogador 2</td>
                    <td class="th th-td">Jogador 3</td>
                    <td class="th-td-l th-td">Jogador 4</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tb-td">Vitórias</td>
                </tr>
                <tr>
                    <td class="tb-td">Menos Mortes</td>
                </tr>
                <tr>
                    <td class="tb-td">Mais Moedas</td>
                </tr>
                <tr>
                    <td class="tb-td">Recompensa</td>
                </tr>
                <tr>
                    <td class="tb-td">Títulos</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="total">Total</td>
                </tr>
            </tfoot>
        </table>
    </article>
</section>
<app-rodape class="footer"></app-rodape>