<section class="main">
    <header>
        <h1 class="titulo">Novo Jogo</h1>
    </header>

    <section>
        <div class="botoes">
            <label for="campanha">Selecione a Campanha</label>

            <select name="campanha" id="campanha" class="botao">
                <option value="ArcadiaQuest" selected>Arcadia Quest</option>
                <option value="ArcadiaQuestInferno">Arcadia Quest: Inferno</option>
                <option value="BTG">Beyond the grave</option>
                <option value="Pets">Pets</option>
                <option value="Riders">Riders</option>
            </select>
        </div>
        <img src="../../assets/images/AS 1.png" alt="" class="logo">
    </section>
</section>