@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 2.5rem;
}

button {
    background: transparent;
    border: none;
    outline: none;
}

input {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 100%;
}

input::-webkit-input-placeholder, form .botao {
    color: #000;
    
}

input:focus, select:focus {
    outline: none;
}

select option {
    color: black;
 }
 select:not(:checked) {
    color: gray;
 }

mat-icon {
    cursor: pointer;
}

.main {
    text-align: center;    
    height: 100vh;
    position: relative;
}

.titulo {
    color: #fc6962;
    padding: 30px 0 20px;
    font-weight: 500;
    text-shadow: 0px 4px 4px #0000006b;
}

.subtitulo {
    color: #49D1DB;
    width: 58%;
    margin: 0 auto 30px;
    line-height: 20px;
    text-shadow: 0px 4px 4px #0000006b;
    font-size: 0.8rem;
}

.header {
    padding: 20px 0 20px;
}

.botoes {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
}

.botao{
    width: 70%;
    text-align: left;
    padding: 10px;
    margin: 10px;
    border: 1px solid #fc6962;
    border-radius: 5px;
    color: #fc6962;
    background: transparent;
    box-shadow: 0 2px 4px #0000006b;
    z-index: 1;
}

.n-guilda {
    width: 80%;
    text-align: center;
}

.n-herois {
    box-shadow: 0 0 5px #38D0DB;
    padding: 10px 0;
    margin: 0 0 20px;
}

.n-heroi {
    width: 60%;
    text-align: center;
}

.n-cartas {
    width: 68%;
    margin: 0 auto;
}

.n-carta {
    width: 40%;
    text-align: center;
}

.n-maldicao {
    width: 45%;
    text-align: center;
}

thead td {
    font-size: 14px;
}

td {    
    color: #fc6962;
}

.th-td {
    border: 1px solid #38D0DB;
    padding: 5px;
}

.th {
    border-right: none;
    border-left: none;
}

.th-td-r {
    border-right: none;
}

.th-td-l {
    border-left: none;
}

.tb-td {
    border: 1px solid #38D0DB;
    padding: 10px 5px;
}

.total {
    padding: 15px 0;
    font-weight: 700;
}

.icon {
    font-size: 2rem;
    color: #fc6962;
}

.icon.i-rodape {
    color: #fff;
}

.logo {
    margin: 100px 0;
}

.select {
    width: 80%;
}

.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;    
    background: #38D0DB;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
}
